.cardLayoutR {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.imageR {
  width: 20%;
  padding: 80px;
  order: 2;
}

.contentR {
  width: 55%;
  order: 1;
  padding: 1.5em 3em 0.2em 3em;
  max-width: 48em;
  justify-content: flex-end;
}

.gitHubIcon {
  width: 32px;
}

.bg2 {
  background-color: rgba(251, 245, 245, 0.15);
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.bg4 {
  background-color: rgba(252, 247, 247, 0.3);
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.bg6 {
  background-color: rgba(230, 220, 220, 0.45);
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.bg8 {
  background-color: rgba(209, 202, 202, 0.6);
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.bg10 {
  background-color: rgba(208, 200, 200, 0.75);
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.bg12 {
  background-color: rgba(242, 234, 234, 0.9);
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
