.cardLayoutL {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.imageL {
  width: 20%;
  padding: 10px;
  order: 1;
}

.contentL {
  width: 55%;
  order: 2;
  padding: 1.5em 3em 0.2em 3em;
  max-width: 48em;
}

.gitHubIcon {
  width: 32px;
}

.bg1 {
  background-color: rgba(0, 0, 0, 0.075);
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.bg3 {
  background-color: rgba(0, 0, 0, 0.225);
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.bg5 {
  background-color: rgba(0, 0, 0, 0.375);
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.bg7 {
  background-color: rgba(0, 0, 0, 0.525);
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.bg9 {
  background-color: rgba(0, 0, 0, 0.675);
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.bg11 {
  background-color: rgba(0, 0, 0, 0.825);
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.bg13 {
  background-color: rgba(0, 0, 0, 0.975);
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
